In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('data/train.csv')

In [28]:
data.head()

,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,5,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,10,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,5,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [6]:
#One Hot Encoding : City , Type
#Ordinal Ecnoder : City Group
#P1 -> P37 Normalization
#Delete : Id , Open Date

In [37]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression

In [9]:
data.drop(['Open Date', 'Id'], axis = 1, inplace = True)

In [46]:
column_trans = make_column_transformer((OneHotEncoder(), ['City', 'Type']),
                                       (OrdinalEncoder(),['City Group']),
                                      remainder='passthrough').fit_transform(data)

In [33]:
normalizer = Normalizer().fit_transform(data.iloc[:,3:40])

In [ ]:
pipeline = make_pipeline(column_trans, normalizer)